<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="homeapp.js"></script>
  
</head>
<body ng-app = "homeapp" ng-controller="homecontrol">
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">ONLINE SHOPPING</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Cart</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- profile brief -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>BIG BILLION DAYS</h4>
            <p>EXCLUSIVE OFFERS!</p>
          </div>
        </div>
        <!-- ./profile brief -->

        <!-- friend requests -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>BUY 2 GET 1 FREE!</h4>
          </div>
        </div>
        <!-- ./friend requests -->
      </div>
      <div class="col-md-6">
        <!-- post form -->
        <form method="post" >
          <div class="input-group">
            <input class="form-control" ng-model="postcontent" type="text" name="content" placeholder="search">
            <span class="input-group-btn">
              <button ng-click="addRow()" class="btn btn-success" type="submit" name="post">SEARCH</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->

        <!-- feed -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              
			   

			   <table> 
			

            <tr ng-repeat="p in postArray">
               <!--  <td><label>{{$index + 1}}</label></td> -->
                <td><label>{{p.post}}</label></td>
				<td><label><br><br></label></td>
                
            </tr>
			
        </table>
			  
			  
			  
			<!--   <ul>
            <li>Movie Name</li>
            <li><input type="text" ng-model="name" /></li>
        </ul>
        <ul>
            <li>Name of Director</li>
            <li><input type="text" ng-model="director" /></li>
        </ul>
        <ul>
            <li> </li><li><button ng-click="addRow()"> Add Row </button></li>
        </ul> -->

        <!--CREATE A TABLE-->
       <!--  <table> 
            <tr>
                <th>Code</th>
                    <th>Movie Name</th>
                        <th>Director</th>
            </tr>

            <tr ng-repeat="movies in movieArray">
                <td><label>{{$index + 1}}</label></td>
                <td><label>{{movies.post}}</label></td>
              
                <td><input type="checkbox" ng-model="movies.Remove"/></td>
            </tr>
        </table> -->
<!-- 
        <div>
            <button ng-click="submit()">Submit Data</button>   
                <button ng-click="removeRow()">Remove Row</button>
        </div> --> 
			  
			  
			  
			  
			  
			  
            </div>
			

            <!-- <div class="panel-footer">
              <span>posted 2017-5-27 20:45:01 by nicholaskajoh</span> 
              <span class="pull-right"><a class="text-danger" href="#">[delete]</a></span>
            </div> -->
          </div>
		  
			  
          <!-- ./post -->
        </div>
        <!-- ./feed -->
      </div>
      <div class="col-md-3">
      <!-- add friend -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Add items to cart</h4>
            <ul>
              <li>
                <a href="#">Lenovo legion 5i</a> 
                <a href="#">[add]</a>
				<a href="#">[decline]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./add friend -->

        <!-- friends -->
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>